<h1>dogs</h1>
<ul>
  <% @dogs.each do |dog| %>
    <li><%= dog.dog_name %></li>
    <li><%= "Owner: #{dog.full_name} Email: #{dog.email} "%></li><br>
  <% end %>
</ul>

<%= link_to 'New Dog', new_dog_path %>
